<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torneo</title>
    <link rel="stylesheet" href="/torneo/styles/style.css">
</head>
<body>
    <h2>Inscripcion para Torneo</h2>
    <input type="text" id="participante-nuevo" placeholder="Ingrese su nombre">
    <p id="error-message"></p>
    <button id="btn-agregar">Añadir participante</button>
    <ul id="participantes"></ul>

    <script src="/torneo/js/torneo.js"></script>
</body>
</html>